.Home-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top center;
  font-size: calc(10px + 2vmin);
  color: black;
  font-family: fantasy;
}

.grid {
  display: grid;
  grid-template-columns: auto auto auto;
  flex-direction: column;
  padding-left: 250px;
  padding-top: 100px;
  background: url(https://www.htmlcsscolor.com/preview/gallery/B0C1DC.png);
  
}

.cards {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 300px;
  border-radius: 50px;
  padding: 10px 16px;
}

.cards:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.grid-container {
  display: grid;
  grid-template-columns: 80px 200px auto 40px;
}

.submit-new-game {
  display: flex;
  justify-content: center;
  padding: 25px;
}
p {
  font-family: "Trebuchet MS", Verdana, sans-serif;
}
h3 {
  font-family: Papyrus, fantasy; font-weight: bolder; text-decoration: underline;

}

h4 {
font-family: Copperplate, "Copperplate Gothic Light", fantasy; text-decoration: underline; font-weight: bold;
}

.new-game-header{
  text-align: center;
  font-family: Copperplate, "Copperplate Gothic Light", fantasy;
}

.Home{
  background: url(https://www.htmlcsscolor.com/preview/gallery/B0C1DC.png);
  background-size: cover
}

.sg-even-row td, .sg-even-row th {
  background-color: #CCCCCC !important;
  }

  .reviews{
    margin:4px, 4px;
    padding:4px;
    width: 250px;
    height: 110px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align:justify;
  }